@charset "utf-8";

@media(max-width:599px){
  *{margin:0; padding: 0; box-sizing: border-box;}
/* *{margin: 0 auto;} */
ul, ol, li{list-style: none;}
a{text-decoration: none; color:#666;}

body{background-color: rgb(250, 250, 250); font-family: 'Noto Sans KR', sans-serif;}
body::-webkit-scrollbar{display: none;}

header{width: 100%; height: 70px; position:absolute; line-height:50px; transition: 0.5s ease-in-out; z-index: 10;}
header.fixed{background: #74b243; position:fixed; width: 100%;}

#headerbackground{width: 100%; height: 70px;}
.header_top{width: 100%; height: 70px;  display: flex; justify-content: space-between; align-content: center; align-items: center;}
.menupic{display: block; cursor: pointer; margin-top: 15px; margin-left: 50%;}
.logo{padding-top: 15px; padding-left: 10px; display:block;}


.menu ul{height: 100%; width: 0; position: fixed; z-index:103; top: 0; left: 0; overflow-x: hidden; transition: 0.5s;}
.menu>ul>li{border-bottom: 1px solid white; padding: 10px;}
.menu>ul>li>a{font-size: 17px; color: white; margin-left: 90px;}
.menu>ul>li>a:hover{text-shadow: 0 0 8px white;}
.menu a.txtCh{color:white;}


#a {display:none;}
img {cursor: pointer;}

.overlay{height: 100%; width: 0; position: fixed; z-index:100; top: 0; left: 0; background-color: #289f5d; background-color: #289f5d; overflow-x: hidden; transition: 0.5s;}
.overlay-content{position: relative; top: 25%; width: 100%; text-align: center; display: block; margin-top: 30px; }
.overlay a{padding:20px; line-height:160%; text-decoration: none; font-size: 30px; color: white; transition: 0.3s; font-weight: bold; display: block;}
.overlay a:hover, .overlay a:focus{color: #74b243;}
.overlay .closebtn{position: absolute; top: 20px; right: 45px; font-size: 60px;}

footer{width: 100%; height: 600px; background-color: #74b243; margin: 0 auto;}
.footer_box{width: 100%; height: 600px; margin: 0 auto;}
.footer_left{width: 100%; height: 300px; padding: 28px; display:flex; flex-direction: column;}
.footer_box span{font-family: 'Jua', sans-serif; font-size: 23px;  color: #fff; margin: 0 auto;}
textarea{background-color: #eee; border-radius: 10px; border: 2px solid #eee; display: block; margin: 15px auto 0; width: 95%}
textarea::placeholder{padding: 10px; font-family: 'Noto Sans KR', sans-serif; color: #666; font-size: 13px;}
.send{width: 80%; height: 30px; border:none; color: #666; border-radius: 3px; background: white; cursor: pointer; margin: 8px auto 0;}
.footer_textbox{width: 100%; height: 300px; float: right; padding-top: 5px; }
.footer_textbox ul{width: 380px; margin: 0 auto; padding-left: 15px;}
.footer_textbox ul li{line-height: 18px; font-size: 12px; color: rgb(255, 255, 255);}

#extra_box{width: 100%; height: 60px; margin: 0 auto; text-align: center; padding: 16px; font-size: 18px; font-family: 'Anton', sans-serif; color: rgb(161, 161, 161); letter-spacing: 3px; background-color: rgb(250, 250, 250);}
}

@media(min-width: 600px) and (max-width:950px){
  *{margin:0; padding: 0; box-sizing: border-box;}
/* *{margin: 0 auto;} */
ul, ol, li{list-style: none;}
a{text-decoration: none; color:#666;}

body{background-color: rgb(250, 250, 250); font-family: 'Noto Sans KR', sans-serif;}
body::-webkit-scrollbar{display: none;}

header{width: 100%; height: 70px; position:absolute; line-height:50px; transition: 0.5s ease-in-out; z-index: 10;}
header.fixed{background: #74b243; position:fixed; width: 100%;}

#headerbackground{width: 100%; height: 70px;}
.header_top{width: 100%; height: 70px;  display: flex; justify-content: space-between; align-content: center; align-items: center;}
.menupic{display: block; cursor: pointer; margin-top: 15px; margin-left: 60%;}
.logo{padding-top: 15px; padding-left: 10px; display:block;}

.menu ul{height: 100%; width: 0; position: fixed; z-index:103; top: 0; left: 0; overflow-x: hidden; transition: 0.5s;}
.menu>ul>li{border-bottom: 1px solid white; padding: 10px;}
.menu>ul>li>a{font-size: 17px; color: white; margin-left: 90px;}
.menu>ul>li>a:hover{text-shadow: 0 0 8px white;}
.menu a.txtCh{color:white;}


#a {display:none;}
img {cursor: pointer;}

.overlay{height: 100%; width: 0; position: fixed; z-index:100; top: 0; left: 0; background-color: #289f5d; overflow-x: hidden; transition: 0.5s;}
.overlay-content{position: relative; top: 25%; width: 100%; text-align: center; display: block; margin-top: 30px; }
.overlay a{padding:20px; line-height:160%; text-decoration: none; font-size: 30px; color: white; transition: 0.3s; font-weight: bold; display: block;}
.overlay a:hover, .overlay a:focus{color: #74b243;}
.overlay .closebtn{position: absolute; top: 20px; right: 45px; font-size: 60px;}

footer{width: 100%; height: 600px; background-color: #74b243;}
.footer_box{width: 100%; height: 600px; margin: 0 auto; }
.footer_left{width: 100%; height: 300px; padding: 30px; display:flex; flex-direction: column;}
.footer_box span{font-family: 'Jua', sans-serif; font-size: 23px;  color: #fff; margin: 0 auto;}
textarea{background-color: #eee; border-radius: 10px; border: 2px solid #eee; display: block; margin: 15px auto 0;}
textarea::placeholder{padding: 10px; font-family: 'Noto Sans KR', sans-serif; color: #666; font-size: 13px;}
.send{width: 350px; height: 30px; border:none; color: #666; border-radius: 3px; background: white; cursor: pointer; margin: 8px auto 0;}
.footer_textbox{width: 100%; height: 300px; float: right; padding-top: 5px; }
.footer_textbox ul{width: 380px; margin: 0 auto; padding-left: 15px;}
.footer_textbox ul li{line-height: 18px; font-size: 12px; color: white;}

#extra_box{width: 100%; height: 60px; margin: 0 auto; text-align: center; padding: 16px; font-size: 18px; font-family: 'Anton', sans-serif; color: rgb(161, 161, 161); letter-spacing: 3px; background-color: rgb(250, 250, 250);}

}

@media(min-width: 951px) and (max-width:1199px){
  *{margin:0; padding: 0; box-sizing: border-box;}
*{margin: 0 auto;}
ul, ol, li{list-style: none;}
a{text-decoration: none; color:#666;}

body{background-color: rgb(250, 250, 250); font-family: 'Noto Sans KR', sans-serif;}

header{width: 100%; height: 70px; position:absolute; line-height:50px; transition: 0.5s ease-in-out; z-index: 10;}
header.fixed{background: #74b243; position:fixed; width: 100%;}

#headerbackground{width: 100%; height: 70px; margin: 0 auto;}
.header_top{display: flex; justify-content: space-around; align-content: center; align-items: center;}
.menupic{display: none;}
.logo{padding: 10px;}

.menu ul{display: flex; justify-content: space-around; align-content: center; align-items: center; margin-bottom: 20px;}
.menu>ul>li>a{font-size: 17px; color: white; padding: 40px;}
.menu>ul>li>a:hover{text-shadow: 0 0 8px white;}
.menu a.txtCh{color:white;}

#myNav{display: none;}

footer{width: 100%; height: 350px; background-color: #74b243;}
.footer_box{width: 100%; height: 300px; margin: 0 auto;}
.footer_left{width: 50%; height: 300px; padding-top: 50px;  margin-left: 80px; float: left}
.footer_box span{font-family: 'Jua', sans-serif; font-size: 23px; color: #fff; display: inline-block; margin-left: 90px;}
textarea{background-color: #eee; border-radius: 10px; border: 2px solid #eee; margin-top: 15px;}
textarea::placeholder{padding: 10px; font-family: 'Noto Sans KR', sans-serif; color: #666; font-size: 13px;}
.send{width: 350px; height: 30px; top: 230px; border:none; color: #666; border-radius: 3px; background: white; cursor: pointer; margin-top: 8px; margin-left: 4.5px;}
.footer_textbox{width: 100%; height: 300px; padding-left: 100px; padding-top:50px;}
.footer_textbox ul{width: 100%; }
.footer_textbox ul li{line-height: 18px; font-size: 12px; color: white;}

#extra_box{width: 100%; height: 60px; margin: 0 auto; text-align: center; padding: 16px; font-size: 18px; font-family: 'Anton', sans-serif; color: rgb(161, 161, 161); letter-spacing: 3px; background-color: rgb(250, 250, 250);}
}

@media(min-width:1200px){
  *{margin:0; padding: 0; box-sizing: border-box;}
*{margin: 0 auto;}
ul, ol, li{list-style: none;}
a{text-decoration: none; color:#666;}

body{background-color: rgb(250, 250, 250); font-family: 'Noto Sans KR', sans-serif; }

header{width: 100%; height: 70px; position:absolute; line-height:50px; transition: 0.5s ease-in-out; z-index: 10;}
header.fixed{background: #74b243; position:fixed;}

#headerbackground{width: 1200px; height: 70px; margin: 0 auto;}
.header_top{display: flex; justify-content: space-around; align-content: center; align-items: center;}
.menupic{display: none;}
.logo{padding: 10px;}

.menu ul{display: flex; justify-content: space-around; align-content: center; align-items: center; margin-bottom: 20px;}
.menu>ul>li>a{font-size: 17px; color: white; padding: 50px;}
.menu>ul>li>a:hover{text-shadow: 0 0 8px white;}
.menu a.txtCh{color:white;}

#myNav{display: none;}

footer{width: 100%; height: 300px; background-color: #74b243;}
.footer_box{width: 1200px; height: 300px; margin: 0 auto; position: relative;}
.footer_left{width: 600px; height: 300px; float: left; position:relative;}
.footer_box span{font-family: 'Jua', sans-serif; position:absolute; font-size: 23px; left: 220px;padding: 20px 0; color: #fff;}
textarea{background-color: #eee; border-radius: 10px; border: 2px solid #eee; margin-top: 70px; margin-left: 120px;}
textarea::placeholder{padding: 10px; font-family: 'Noto Sans KR', sans-serif; color: #666; font-size: 13px;}
.send{width: 350px; height: 30px; position: absolute; top: 230px; left: 125px; border:none; color: #666; border-radius: 3px; background: white; cursor: pointer; margin-top: 8px; margin-left: 5px;}
.footer_textbox{width: 600px; height: 300px; float: right; padding-top: 23px; padding-left: 80px;}
.footer_textbox ul li{line-height: 18px; font-size: 12px; color: white;}

#extra_box{width: 1200px; height: 60px; margin: 0 auto; text-align: center; padding: 16px; font-size: 18px; font-family: 'Anton', sans-serif; color: rgb(161, 161, 161); letter-spacing: 3px; background-color: rgb(250, 250, 250);}

}