@charset "utf-8";

@media(min-width:1200px){

#main_background{width: 100%; height: 937px; background-image: url(../img/mainfood_black.jpg); background-position: center; background-size: cover;}
.main{width: 100%; height: 937px; margin: 0 auto;}
.maintext{text-align: center; padding: 310px 0 0 0; display: flex; justify-content: center; align-content: center; align-items:center; flex-direction: column;}
.maintext h1{color: white; letter-spacing: 15px; font-size: 48px; margin: 0 0 0 -15px; font-family: 'Sunflower', sans-serif;}
.maintext .search{width: 500px; height: 50px; border: none; border-radius: 20px; opacity: 0.6; font-size: 18px; margin: 40px 0 0 -50px; padding-left: 15px;}
.search:focus{outline: none;}
.search_icon{margin: -50px 0 0 530px; display: inline-block;}


.notice{width:1200px; height:50px; overflow:hidden; margin-top: 10px;}
.rolling{position:relative; width:1200px; height:auto; margin: 0 auto;}
.rolling li{width:100%; height:50px; line-height:49.5px; margin-left: 580px;}
.rolling li a{color:white;}
.word{color:white; position: absolute; margin-left: 470px; font-size: 16.5px; margin-top: 12px; font-family: 'Noto Sans KR', sans-serif;}


.main_login_background{width: 100%; height: 200px; margin-top: 180px;}
.main_login{width: 1200px; height: 200px; display: flex; justify-content: space-around; margin: 0 auto;}
.loginbox{width: 300px; height: 200px; text-align: center; padding: 20px; color: white; line-height: 30px;}
.loginbox h4{font-weight: 300;}
.loginbox:hover{box-shadow: 0 0 5px black; border: 2px solid white; border-radius: 10px;}


#extra{width: 100%; height: 10px; background-color: rgb(226, 226, 226);}


#recipe_index_background{width: 100%; height: 250px; margin: 0 auto;}
.recipe_index{width: 1200px; height: 250px; margin: 0 auto; padding: 30px 0;}
.recipe_index h2{text-align: center;}
.recipe_iconbox{width: 100%; height: 150px; position:relative; padding: 10px 0;}
.recipe_iconbox>img{position: absolute; top: 0; bottom:0; margin: auto 0; cursor:pointer;}
.icon_right{right:0;}


#slidewrap{width: 1100px; height: 130px; padding: 20px 0; overflow:hidden;}
.slide{width: 2200px; height: 100%;}
.slide .list{width: 110px; height: 92px; float:left; display: flex; justify-content:center; align-content: center; align-items: center; flex-direction: column; padding: 20px;}
.slide .list img{width: 66px; height: 66px; cursor: pointer; margin-bottom: 5px;}
.slide .list img:hover{transform:scale(1.05); transition: all 0.2s ease-in-out;}


#bestcook_background{width: 100%; height: 130px; background-color: rgb(250, 250, 250);}
.bestcook{width: 1200px; height: 130px; background-color: rgb(250, 250, 250); margin: 0 auto;}
.bestcook h2{text-align: center; padding-top: 50px; display: block;}
.bestcook .date{padding-top: 70px; padding-left: 520px; color: #666; font-weight: 300;}

.calender{float: right; margin-right: 50px; margin-top: 80px;}
.calender input{border: 2px solid #eee; border-radius: 3px;}
.calender span{font-size: 14px; display: inline-block; margin-right: 10px; color: #666;}
.calender button{width: 50px; height: 22px; text-align: center; border: none; color: #666; cursor:pointer;} 


#ranking_topline{width: 1100px; height: 10px; border-top: 4px solid #74b243; margin: 0 auto;}


#ranking_sub_background{width: 100%; height: 850px; background-color: rgb(250, 250, 250); margin-top: 70px;}
.ranking_sub{width: 1200px; height: 850px; background-color: rgb(250, 250, 250); margin: 0 auto;}
.ranking_sub_box{width: 1100px; height: 800px; background-color: rgb(250, 250, 250); display: flex; flex-flow: row wrap; justify-content: center; }
.ranking_sub_box div{width: 230px; height: 355px; background-color: white; margin: 10px 18px; border-radius: 3px; box-shadow: 0 0 50px rgb(223, 223, 223); position:relative;}
.ranking_sub_box div img{width: 100%; height: 180px; padding: 10px; background-position: center; background-size: cover;}
.ranking_sub_box .star{width: 100px; height: 20px; background-color: rgb(250, 250, 250); margin-bottom: 30px; position: relative;}
.ranking_sub_box .star>p{position:absolute; left: 90px; top: -6px; font-size: 10px; color: #666;}
.ranking_sub_box h3{padding-left: 15px;}
.ranking_sub_box p{padding: 10px 15px; font-family: 'Noto Sans KR', sans-serif; font-weight: 500;}
.ranking_sub_box p a:hover{color: #289f5d;}
.ranking_sub_box .author{width: 35px; height: 35px; border-radius: 50px; margin: 5px 15px; box-shadow: 0 0 2px #666;}
.ranking_sub_box span{font-size: 13px; color: #666; position: absolute; margin-top: 11px; margin-left: -5px;}


#promotion2_background{width: 100%; height: 280px; margin-top: 50px; background-image: url(../img/promotion2.jpg); background-position: center; background-size: cover;}
.promotion2_box{width: 1200px; height: 280px; margin: 0 auto; padding: 20px; text-align: right;}
.promotion2_box h3{color: rgb(153, 207, 255); margin: 5px 55px; font-size: 30px; letter-spacing: -1px; font-weight: 300; font-family: 'Nanum Pen Script', cursive;}
.promotion2_box h1{color: white; font-size: 50px; line-height: 55px; margin: 10px 50px; font-family: 'Jua', sans-serif; color:rgb(48, 48, 196); text-shadow: 0 0 10px white;}
.promotion2_box h1 span{color: gold; font-size: 43px;}
.promotion2_box a div{float: right; width: 150px; height: 50px; margin: 10px 55px; letter-spacing: 3px; border-radius: 5px; border: 2px solid white; text-align: center; padding: 12px; color: white; opacity: 1; font-size: 13px;}
.promotion2_box a div:hover{background-color: white; color: #666;}


#promotion_background{width: 100%; height: 280px; margin-top: 50px; background-image: url(../img/promotion.jpg); background-position: center; background-size: cover;}
.promotion_box{width: 1200px; height: 280px; margin: 0 auto; padding: 50px;}
.promotion_box h3{color: white; margin: 10px 55px; font-size: 23px; letter-spacing: -2px; font-weight: 300;}
.promotion_box h1{color: white; font-size: 35px; line-height: 28px; letter-spacing: -2px;
margin: 20px 50px; }
.promotion_box h1 span{color: gold; font-size: 43px;}
.promotion_box a div{float: left; width: 200px; height: 50px; margin: 10px 55px; border-radius: 50px; background-color: orangered; text-align: center; padding: 12px; color: white; opacity: 1;}
.promotion_box a div:hover{opacity: 0.8;}


#honor_background{width: 100%; height: 550px; margin-top: 20px;}
.honor_box{width: 1200px; height: 550px; margin: 0 auto; position: relative; }
.honor_box h2{padding: 20px 0px; text-align: center;}
.honor_box h2 span{color: #74b243;}
.honor_topline{width: 1100px; height: 10px; border-top: 4px solid #74b243; margin: 0 auto;}
.honor{width: 1000px; height: 400px; margin: 20px auto 0; overflow:hidden;}
#honorwrap{width: 2000px; height: 400px; padding-top: 50px; float:left; position: relative; }
.honor_minibox{width: 240px; height: 400px; float:left; margin: 5px; cursor: pointer; box-shadow: 0 0 30px rgb(218, 218, 218);}
.honor_minibox:hover{transform:scale(1.01); transition: all 0.2s ease-in-out;}
.honor div{width: 240px; height: 280px; position: relative;}
.honor_textbox{display: inline-block; font-size: 15px; position: absolute; top: 225px; left: 10px;}
.honor_textbox:hover{color: #289f5d;}
.honor_right{position: absolute; top: 58%; right: 45px; transform:translateY(-30%) ; cursor: pointer;} 
.honor_left{position: absolute; top: 58%; left: 45px; transform:translateY(-30%) ; cursor: pointer;}


#chef_background{width: 100%; height: 640px; margin-top: 10px;}
.chef_box{width: 1200px; height: 640px; margin: 0 auto;}
.chef_box h2{padding-top: 50px; display: block; text-align: center;}
.chef_box span{padding: 10px 0 0 495px; color: #666; font-weight: 300;}
.chef_topline{width: 1100px; height: 10px; border-top: 4px solid #74b243; margin: 0 auto; margin-top: 20px;}
.chef{width: 1100px; height: 400px; display:flex; flex-direction: row; margin-top: 60px;}
.chef a{width: 250px; height: 350px; position: relative;}
.chef div{width: 250px; height: 350px; border-radius: 10px; background-size: cover; background-position: center; box-shadow: 0 0 30px rgb(218, 218, 218); position: absolute; top:0; left: 0;}

.chef_textbox{float:left; width:100%; height:100%; background-color:black; position:absolute; top: 0; left: 0; opacity: 0;}
.chef_textbox:hover {opacity:0.7; transition: all 0.3s ease;}

.chef_textbox p{color:white; font-weight:bold; font-size:18px; position:absolute; top:153px; left: 0px; display:inline-block; text-align:center; width:100%; z-index: 3;}
.chef_textbox img{width: 40px; height: 40px; margin:40px 0 0 0px; position:absolute; top:150px; left:105px;}



#information{width: 100%; height: 200px; background-color: #289f5d; margin: 0 auto;}
.information_box{width: 1200px; height: 200px; margin: 0 auto; display: flex; justify-content: space-around; align-items: center; align-content: center; flex-direction: row;}
.inform{width: 120px; height: 130px; margin-bottom: 10px; margin-right: 50px; text-align: center;}
.information_box .logo_green{padding: 55px;}
.information_box p{font-size: 13px; color: white; margin: 5px;}
.inform span{font-size: 20px; color: gold; font-weight: 700;}


}